In [335]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [336]:
VehicleData = pd.read_csv('AV_18112017.csv')

In [337]:
VehicleData.head()

,ID,DateTime,Junction,Vehicles,WeekDay,Date,Month,Year,Time,Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Weekend,Weekday
0,20151101001,11/1/2015 0:00,1,15,1,1,11,2015,0,1,0,0,0,0,0,0,1,0
1,20151101011,11/1/2015 1:00,1,13,1,1,11,2015,1,1,0,0,0,0,0,0,1,0
2,20151101021,11/1/2015 2:00,1,10,1,1,11,2015,2,1,0,0,0,0,0,0,1,0
3,20151101031,11/1/2015 3:00,1,7,1,1,11,2015,3,1,0,0,0,0,0,0,1,0
4,20151101041,11/1/2015 4:00,1,9,1,1,11,2015,4,1,0,0,0,0,0,0,1,0

In [338]:
VehicleData['Vehicles'] = VehicleData['Vehicles'].astype(float)

In [339]:
def time_group(Time):
    vTime_Grp = "A"
    if Time == 3:
       vTime_Grp = "B"
    elif Time == 4:
        vTime_Grp = "B"
    elif Time == 5:
        vTime_Grp = "B"
    elif Time == 6:
        vTime_Grp = "B"
    elif Time == 7:
        vTime_Grp = "B"
    elif Time == 0:
        vTime_Grp = "C"
    elif Time == 1:
        vTime_Grp = "C"
    elif Time == 2:
        vTime_Grp = "C"
    elif Time == 8:
        vTime_Grp = "C"
    elif Time == 9:
        vTime_Grp = "C"
    elif Time == 10:
        vTime_Grp = "C"
    elif Time == 23:
        vTime_Grp = "C"
    else:
        vTime_Grp = "A"
    return vTime_Grp

In [340]:
def month_group(Mon):
    vMonth_Grp = "X"
    if Mon == 1:
       vMonth_Grp = "Y"
    elif Mon == 11:
        vMonth_Grp = "Y"
    elif Mon == 12:
        vMonth_Grp = "Y"
    elif Mon == 2:
        vMonth_Grp = "Z"
    elif Mon == 3:
        vMonth_Grp = "Z"
    elif Mon == 7:
        vMonth_Grp = "Z"
    elif Mon == 8:
        vMonth_Grp = "Z"
    else:
        vMonth_Grp = "X"
    return vMonth_Grp

In [341]:
VehicleData['Time_GRP'] = VehicleData['Time'].apply(time_group)
VehicleData['Month_GRP'] = VehicleData['Month'].apply(month_group)

In [342]:
Month_1 = pd.get_dummies(VehicleData['Month_GRP'],drop_first=True)
Time_1 = pd.get_dummies(VehicleData['Time_GRP'],drop_first=True)
Year_1 = pd.get_dummies(VehicleData['Year'],drop_first=True)

In [343]:
VehicleData1 = pd.concat([VehicleData,Year_1],axis=1)
VehicleData2 = pd.concat([VehicleData1,Month_1],axis=1)
VehicleData3 = pd.concat([VehicleData2,Time_1],axis=1)
VehicleData3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48120 entries, 0 to 48119
Data columns (total 26 columns):
ID           48120 non-null int64
DateTime     48120 non-null object
Junction     48120 non-null int64
Vehicles     48120 non-null float64
WeekDay      48120 non-null int64
Date         48120 non-null int64
Month        48120 non-null int64
Year         48120 non-null int64
Time         48120 non-null int64
Sunday       48120 non-null int64
Monday       48120 non-null int64
Tuesday      48120 non-null int64
Wednesday    48120 non-null int64
Thursday     48120 non-null int64
Friday       48120 non-null int64
Saturday     48120 non-null int64
Weekend      48120 non-null int64
Weekday      48120 non-null int64
Time_GRP     48120 non-null object
Month_GRP    48120 non-null object
2016         48120 non-null uint8
2017         48120 non-null uint8
Y            48120 non-null uint8
Z            48120 non-null uint8
B            48120 non-null uint8
C            48120 non-null uint8
dtypes: float64(1), int64(16), object(3), uint8(6)
memory usage: 7.1+ MB

In [377]:
VehicleData_1 = VehicleData3[VehicleData3['Junction'] == 1]
VehicleData_2 = VehicleData3[VehicleData3['Junction'] == 2]
VehicleData_3 = VehicleData3[VehicleData3['Junction'] == 3]
VehicleData_4 = VehicleData3[VehicleData3['Junction'] == 4]

In [378]:
from sklearn import metrics

In [430]:
##X1 = VehicleData_1[['Date','Month','Year','Time','B','C','Weekend','Weekday','Y','Z','Saturday','Sunday','Monday','Tuesday','Wednesday','Thursday','Friday']]
X1 = VehicleData_1[['Date','Month','Year','Time','B','C','Weekend','Y','Z']]
y1 = VehicleData_1['Vehicles']
y1 = y1.apply(pd.to_numeric, errors='coerce')
from sklearn.model_selection import train_test_split
X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, y1, test_size=0.3, random_state=101)
from sklearn.linear_model import LinearRegression
lm1 = LinearRegression()
lm1.fit(X_train1,y_train1)
predictions = lm1.predict(X_test1)
print('MAE:', metrics.mean_absolute_error(y_test1, predictions))
print('MSE:', metrics.mean_squared_error(y_test1, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test1, predictions)))

('MAE:', 7.485924984386946)
('MSE:', 95.002684211632854)
('RMSE:', 9.7469320409877103)

In [431]:
##X2 = VehicleData_2[['Date','Month','Year','Time','B','C','Weekend','Weekday','Y','Z','Saturday','Sunday','Monday','Tuesday','Wednesday','Thursday','Friday']]
X2 = VehicleData_2[['Date','Month','Year','Time','B','C','Weekend','Y','Z']]
y2 = VehicleData_2['Vehicles']
y2 = y2.apply(pd.to_numeric, errors='coerce')
from sklearn.model_selection import train_test_split
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, test_size=0.3, random_state=101)
from sklearn.linear_model import LinearRegression
lm2 = LinearRegression()
lm2.fit(X_train2,y_train2)
predictions = lm2.predict(X_test2)
print('MAE:', metrics.mean_absolute_error(y_test2, predictions))
print('MSE:', metrics.mean_squared_error(y_test2, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test2, predictions)))

('MAE:', 3.1162350530630225)
('MSE:', 17.669388508735633)
('RMSE:', 4.2034971760113784)

In [432]:
##X3 = VehicleData_3[['Date','Month','Year','Time','B','C','Weekend','Weekday','Y','Z','Saturday','Sunday','Monday','Tuesday','Wednesday','Thursday','Friday']]
X3 = VehicleData_3[['Date','Month','Year','Time','B','C','Weekend','Y','Z']]
y3 = VehicleData_3['Vehicles']
y3 = y3.apply(pd.to_numeric, errors='coerce')
from sklearn.model_selection import train_test_split
X_train3, X_test3, y_train3, y_test3 = train_test_split(X3, y3, test_size=0.3, random_state=101)
from sklearn.linear_model import LinearRegression
lm3 = LinearRegression()
lm3.fit(X_train3,y_train3)
predictions = lm3.predict(X_test3)
print('MAE:', metrics.mean_absolute_error(y_test3, predictions))
print('MSE:', metrics.mean_squared_error(y_test3, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test3, predictions)))

('MAE:', 5.1361866673746439)
('MSE:', 70.682478956551009)
('RMSE:', 8.4072872531245775)

In [433]:
##X4 = VehicleData_4[['Date','Month','Year','Time','B','C','Weekend','Weekday','Y','Z','Saturday','Sunday','Monday','Tuesday','Wednesday','Thursday','Friday']]
X4 = VehicleData_4[['Date','Month','Year','Time','B','C','Weekend','Y','Z']]
y4 = VehicleData_4['Vehicles']
y4 = y4.apply(pd.to_numeric, errors='coerce')
from sklearn.model_selection import train_test_split
X_train4, X_test4, y_train4, y_test4 = train_test_split(X4, y4, test_size=0.3, random_state=101)
from sklearn.linear_model import LinearRegression
lm4 = LinearRegression()
lm4.fit(X_train4,y_train4)
predictions = lm4.predict(X_test4)
print('MAE:', metrics.mean_absolute_error(y_test4, predictions))
print('MSE:', metrics.mean_squared_error(y_test4, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test4, predictions)))

('MAE:', 2.0041604806716617)
('MSE:', 7.1457330471501983)
('RMSE:', 2.6731503974056898)

In [434]:
##X1 = VehicleData_1[['Date','Month','Year','Time','B','C','Weekend','Weekday','Y','Z','Saturday','Sunday','Monday','Tuesday','Wednesday','Thursday','Friday']]
X1 = VehicleData_1[['Date','Month','Year','Time','B','C','Weekend','Y','Z']]
y1 = VehicleData_1['Vehicles']
y1 = y1.apply(pd.to_numeric, errors='coerce')
from sklearn.linear_model import LogisticRegression
logmodel1 = LogisticRegression()
logmodel1.fit(X_train1,y_train1)
predictions = logmodel1.predict(X_test1)
print('MAE:', metrics.mean_absolute_error(y_test1, predictions))
print('MSE:', metrics.mean_squared_error(y_test1, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test1, predictions)))

('MAE:', 17.182960255824579)
('MSE:', 575.82983097304702)
('RMSE:', 23.996454550058996)

In [435]:
##X2 = VehicleData_2[['Date','Month','Year','Time','B','C','Weekend','Weekday','Y','Z','Saturday','Sunday','Monday','Tuesday','Wednesday','Thursday','Friday']]
X2 = VehicleData_2[['Date','Month','Year','Time','B','C','Weekend','Y','Z']]
y2 = VehicleData_2['Vehicles']
y2 = y2.apply(pd.to_numeric, errors='coerce')
from sklearn.linear_model import LogisticRegression
logmodel2 = LogisticRegression()
logmodel2.fit(X_train2,y_train2)
predictions = logmodel2.predict(X_test2)
print('MAE:', metrics.mean_absolute_error(y_test2, predictions))
print('MSE:', metrics.mean_squared_error(y_test2, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test2, predictions)))

('MAE:', 4.7126541799908637)
('MSE:', 46.593421653723162)
('RMSE:', 6.8259374194115754)

In [436]:
##X3 = VehicleData_3[['Date','Month','Year','Time','B','C','Weekend','Weekday','Y','Z','Saturday','Sunday','Monday','Tuesday','Wednesday','Thursday','Friday']]
X3 = VehicleData_3[['Date','Month','Year','Time','B','C','Weekend','Y','Z']]
y3 = VehicleData_3['Vehicles']
y3 = y3.apply(pd.to_numeric, errors='coerce')
from sklearn.linear_model import LogisticRegression
logmodel3 = LogisticRegression()
logmodel3.fit(X_train3,y_train3)
predictions = logmodel3.predict(X_test3)
##predictions = lm.predict(X_test3)
print('MAE:', metrics.mean_absolute_error(y_test3, predictions))
print('MSE:', metrics.mean_squared_error(y_test3, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test3, predictions)))

('MAE:', 5.7875742348104158)
('MSE:', 94.5678391959799)
('RMSE:', 9.7245996933539587)

In [437]:
##X4 = VehicleData_4[['Date','Month','Year','Time','B','C','Weekend','Weekday','Y','Z','Saturday','Sunday','Monday','Tuesday','Wednesday','Thursday','Friday']]
X4 = VehicleData_4[['Date','Month','Year','Time','B','C','Weekend','Y','Z']]
y4 = VehicleData_4['Vehicles']
y4 = y4.apply(pd.to_numeric, errors='coerce')
from sklearn.linear_model import LogisticRegression
logmodel4 = LogisticRegression()
logmodel4.fit(X_train4,y_train4)
predictions = logmodel4.predict(X_test4)
print('MAE:', metrics.mean_absolute_error(y_test4, predictions))
print('MSE:', metrics.mean_squared_error(y_test4, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test4, predictions)))

('MAE:', 2.0789877300613497)
('MSE:', 8.1786809815950914)
('RMSE:', 2.8598393279334928)

In [416]:
##X1 = VehicleData_1[['Date','Month','Year','Time','B','C','Weekend','Weekday','Y','Z','Saturday','Sunday','Monday','Tuesday','Wednesday','Thursday','Friday']]
X1 = VehicleData_1[['Date','Month','Year','Time','B','C','Weekend','Y','Z']]
y1 = VehicleData_1['Vehicles']
y1 = y1.apply(pd.to_numeric, errors='coerce')
from sklearn.tree import DecisionTreeRegressor
dtree1 = DecisionTreeRegressor()
dtree1.fit(X_train1,y_train1)
predictions = dtree1.predict(X_test1)
print('MAE:', metrics.mean_absolute_error(y_test1, predictions))
print('MSE:', metrics.mean_squared_error(y_test1, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test1, predictions)))

('MAE:', 4.2592507994518041)
('MSE:', 36.686386477843762)
('RMSE:', 6.0569287991393592)

In [417]:
##X2 = VehicleData_2[['Date','Month','Year','Time','B','C','Weekend','Weekday','Y','Z','Saturday','Sunday','Monday','Tuesday','Wednesday','Thursday','Friday']]
X2 = VehicleData_2[['Date','Month','Year','Time','B','C','Weekend','Y','Z']]
y2 = VehicleData_2['Vehicles']
y2 = y2.apply(pd.to_numeric, errors='coerce')
from sklearn.tree import DecisionTreeRegressor
dtree2 = DecisionTreeRegressor()
dtree2.fit(X_train2,y_train2)
predictions = dtree2.predict(X_test2)
print('MAE:', metrics.mean_absolute_error(y_test2, predictions))
print('MSE:', metrics.mean_squared_error(y_test2, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test2, predictions)))

('MAE:', 2.5735495660118777)
('MSE:', 11.06007309273641)
('RMSE:', 3.3256688188598109)

In [418]:
##X3 = VehicleData_3[['Date','Month','Year','Time','B','C','Weekend','Weekday','Y','Z','Saturday','Sunday','Monday','Tuesday','Wednesday','Thursday','Friday']]
X3 = VehicleData_3[['Date','Month','Year','Time','B','C','Weekend','Y','Z']]
y3 = VehicleData_3['Vehicles']
y3 = y3.apply(pd.to_numeric, errors='coerce')
from sklearn.tree import DecisionTreeRegressor
dtree3 = DecisionTreeRegressor()
dtree3.fit(X_train3,y_train3)
predictions = dtree3.predict(X_test3)
print('MAE:', metrics.mean_absolute_error(y_test3, predictions))
print('MSE:', metrics.mean_squared_error(y_test3, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test3, predictions)))

('MAE:', 3.4360438556418456)
('MSE:', 31.619689355870261)
('RMSE:', 5.6231387459203122)

In [419]:
##X4 = VehicleData_4[['Date','Month','Year','Time','B','C','Weekend','Weekday','Y','Z','Saturday','Sunday','Monday','Tuesday','Wednesday','Thursday','Friday']]
X4 = VehicleData_4[['Date','Month','Year','Time','B','C','Weekend','Y','Z']]
y4 = VehicleData_4['Vehicles']
y4 = y4.apply(pd.to_numeric, errors='coerce')
from sklearn.tree import DecisionTreeRegressor
dtree4 = DecisionTreeRegressor()
dtree4.fit(X_train4,y_train4)
predictions = dtree4.predict(X_test4)
print('MAE:', metrics.mean_absolute_error(y_test4, predictions))
print('MSE:', metrics.mean_squared_error(y_test4, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test4, predictions)))

('MAE:', 2.4110429447852759)
('MSE:', 10.420245398773005)
('RMSE:', 3.2280404890231793)

In [420]:
VehicleData_TEST = pd.read_csv('AV_18112017_Test.csv')

In [421]:
VehicleData_TEST['Time_GRP'] = VehicleData_TEST['Time'].apply(time_group)
VehicleData_TEST['Month_GRP'] = VehicleData_TEST['Month'].apply(month_group)

In [422]:
Month_1 = pd.get_dummies(VehicleData_TEST['Month_GRP'],drop_first=True)
Time_1 = pd.get_dummies(VehicleData_TEST['Time_GRP'],drop_first=True)
Year_1 = pd.get_dummies(VehicleData_TEST['Year'],drop_first=True)

In [423]:
VehicleDataT1 = pd.concat([VehicleData_TEST,Year_1],axis=1)
VehicleDataT2 = pd.concat([VehicleDataT1,Month_1],axis=1)
VehicleDataT3 = pd.concat([VehicleDataT2,Time_1],axis=1)
VehicleDataT3['Y'] = 0

In [424]:
VehicleData_T1 = VehicleDataT3[VehicleDataT3['Junction'] == 1]
VehicleData_T2 = VehicleDataT3[VehicleDataT3['Junction'] == 2]
VehicleData_T3 = VehicleDataT3[VehicleDataT3['Junction'] == 3]
VehicleData_T4 = VehicleDataT3[VehicleDataT3['Junction'] == 4]

In [425]:
VehicleData_T1.to_csv("T1.csv")
VehicleData_T2.to_csv("T2.csv")
VehicleData_T3.to_csv("T3.csv")
VehicleData_T4.to_csv("T4.csv")

In [426]:
VehicleData_T1 = pd.read_csv("T1.csv")
VehicleData_T2 = pd.read_csv("T2.csv")
VehicleData_T3 = pd.read_csv("T3.csv")
VehicleData_T4 = pd.read_csv("T4.csv")

In [440]:
X_J1_Pred = VehicleData_T1[['Date','Month','Year','Time','B','C','Weekend','Y','Z']]
predtree1 = dtree1.predict(X_J1_Pred)
predtreedf1 = pd.DataFrame(predtree1)
predlm1 = lm1.predict(X_J1_Pred)
predlmdf1 = pd.DataFrame(predlm1)
predlog1 = logmodel1.predict(X_J1_Pred)
predlogdf1 = pd.DataFrame(predlog1)
##VehicleData_TP1 = pd.merge(VehicleData_T1,predtree1,predlm1,predlog1,how = 'inner',left_index = True, right_index = True)
VehicleData_TP1 = pd.concat([VehicleData_T1,predtreedf1,predlmdf1,predlogdf1],axis=1)
VehicleData_TP1.head(3)

,Unnamed: 0,DateTime,Junction,ID,WeekDay,Date,Month,Year,Time,Sunday,...,Weekday,Time_GRP,Month_GRP,Z,B,C,Y,0,0,0
0,0,7/1/2017 0:00,1,20170701001,1,1,7,2017,0,1,...,0,C,Z,1,0,1,0,47.0,54.946524,23.0
1,1,7/1/2017 1:00,1,20170701011,1,1,7,2017,1,1,...,0,C,Z,1,0,1,0,53.0,55.260972,23.0
2,2,7/1/2017 2:00,1,20170701021,1,1,7,2017,2,1,...,0,C,Z,1,0,1,0,44.0,55.575419,23.0

In [445]:
X_J2_Pred = VehicleData_T2[['Date','Month','Year','Time','B','C','Weekend','Y','Z']]
predtree2 = dtree2.predict(X_J2_Pred)
predtreedf2 = pd.DataFrame(predtree2)
predlm2 = lm2.predict(X_J2_Pred)
predlmdf2 = pd.DataFrame(predlm2)
predlog2 = logmodel2.predict(X_J2_Pred)
predlogdf2 = pd.DataFrame(predlog2)
##VehicleData_TP2 = pd.merge(VehicleData_T2,predtree2,predlm2,predlog2,how = 'inner',left_index = True, right_index = True)
VehicleData_TP2 = pd.concat([VehicleData_T2,predtreedf2,predlmdf2,predlogdf2],axis=1)
VehicleData_TP2.head(3)

,Unnamed: 0,DateTime,Junction,ID,WeekDay,Date,Month,Year,Time,Sunday,...,Weekday,Time_GRP,Month_GRP,Z,B,C,Y,0,0,0
0,2952,7/1/2017 0:00,2,20170701002,1,1,7,2017,0,1,...,0,C,Z,1,0,1,0,25.0,16.116014,8.0
1,2953,7/1/2017 1:00,2,20170701012,1,1,7,2017,1,1,...,0,C,Z,1,0,1,0,28.0,16.203276,8.0
2,2954,7/1/2017 2:00,2,20170701022,1,1,7,2017,2,1,...,0,C,Z,1,0,1,0,21.0,16.290538,8.0

In [446]:
X_J3_Pred = VehicleData_T3[['Date','Month','Year','Time','B','C','Weekend','Y','Z']]
predtree3 = dtree3.predict(X_J3_Pred)
predtreedf3 = pd.DataFrame(predtree3)
predlm3 = lm3.predict(X_J3_Pred)
predlmdf3 = pd.DataFrame(predlm3)
predlog3 = logmodel3.predict(X_J3_Pred)
predlogdf3 = pd.DataFrame(predlog3)
##VehicleData_TP3 = pd.merge(VehicleData_T3,predtree3,predlm3,predlog3,how = 'inner',left_index = True, right_index = True)
VehicleData_TP3 = pd.concat([VehicleData_T3,predtreedf3,predlmdf3,predlogdf3],axis=1)
VehicleData_TP3.head(3)

,Unnamed: 0,DateTime,Junction,ID,WeekDay,Date,Month,Year,Time,Sunday,...,Weekday,Time_GRP,Month_GRP,Z,B,C,Y,0,0,0
0,5904,7/1/2017 0:00,3,20170701003,1,1,7,2017,0,1,...,0,C,Z,1,0,1,0,17.0,14.809013,11.0
1,5905,7/1/2017 1:00,3,20170701013,1,1,7,2017,1,1,...,0,C,Z,1,0,1,0,7.0,15.012281,11.0
2,5906,7/1/2017 2:00,3,20170701023,1,1,7,2017,2,1,...,0,C,Z,1,0,1,0,7.0,15.215548,11.0

In [447]:
X_J4_Pred = VehicleData_T4[['Date','Month','Year','Time','B','C','Weekend','Y','Z']]
predtree4 = dtree4.predict(X_J4_Pred)
predtreedf4 = pd.DataFrame(predtree4)
predlm4 = lm4.predict(X_J4_Pred)
predlmdf4 = pd.DataFrame(predlm4)
predlog4 = logmodel4.predict(X_J4_Pred)
predlogdf4 = pd.DataFrame(predlog4)
##VehicleData_TP4 = pd.merge(VehicleData_T4,predtree4,predlm4,predlog4,how = 'inner',left_index = True, right_index = True)
VehicleData_TP4 = pd.concat([VehicleData_T4,predtreedf4,predlmdf4,predlogdf4],axis=1)
VehicleData_TP4.head(4)

,Unnamed: 0,DateTime,Junction,ID,WeekDay,Date,Month,Year,Time,Sunday,...,Weekday,Time_GRP,Month_GRP,Z,B,C,Y,0,0,0
0,8856,7/1/2017 0:00,4,20170701004,1,1,7,2017,0,1,...,0,C,Z,1,0,1,0,5.0,7.917090,5.0
1,8857,7/1/2017 1:00,4,20170701014,1,1,7,2017,1,1,...,0,C,Z,1,0,1,0,5.0,7.988067,5.0
2,8858,7/1/2017 2:00,4,20170701024,1,1,7,2017,2,1,...,0,C,Z,1,0,1,0,4.0,8.059044,5.0
3,8859,7/1/2017 3:00,4,20170701034,1,1,7,2017,3,1,...,0,B,Z,1,1,0,0,1.0,5.963727,5.0

In [ ]:
VehicleData_FINAL = pd.concat([VehicleData_TP1,VehicleData_TP2,VehicleData_TP3,VehicleData_TP4],axis=0)

In [448]:
VehicleData_T1.to_csv("T1.csv")
VehicleData_T2.to_csv("T2.csv")
VehicleData_T3.to_csv("T3.csv")
VehicleData_T4.to_csv("T4.csv")
pred4.to_csv("4.csv")
pred3.to_csv("3.csv")
pred2.to_csv("2.csv")
pred1.to_csv("1.csv")

In [ ]:
VehicleData_TP1.to_csv("test1.csv")

In [450]:
VehicleData_TP1.to_csv("TP1.csv")
VehicleData_TP2.to_csv("TP2.csv")
VehicleData_TP3.to_csv("TP3.csv")
VehicleData_TP4.to_csv("TP4.csv")